<div class="outer-list {% if stub %}item-stub{% endif %}">
  <div class="outer-list-item">
    <a href="/{{ link_path }}">
      <div class="outer-list-header"><h2>{% if stub %}<font color="#AA0000">Stub Article:</font> {% endif %}{{ title }}</h2></div>
    </a>
    <div class="inner-list">
      <a href="/{{ link_path }}">
        <div class="inner-list-item inner-list-item-last"><h3>
         {% if summary %}
           {{ summary }}
         {% else %}
           &nbsp
         {% endif %}
        </h3></div>
      </a>
    </div>
  </div>
</div>
