<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css?v2">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/roboto.css">
    <link rel="icon" type="image/png" href="/images/favicon-32.png"  sizes="32x32"  >
    <link rel="icon" type="image/png" href="/images/favicon-48.png"  sizes="48x48"  >
    <link rel="icon" type="image/png" href="/images/favicon-96.png"  sizes="96x96"  >
    <link rel="icon" type="image/png" href="/images/favicon-144.png" sizes="144x144">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">
            <img src="/images/favicon-144.png" class="header">
            <span class="small-screen">Home</span>
            <span class="big-screen">I Can't Believe It's Not Government!</span>
        </a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{% block content %}{{ content }}{% endblock content %}
</main>

<footer>
<section>
<p>
    <a href="https://twitter.com/itsnotgov">Twitter</a>
    <a rel="me" href="https://liberdon.com/@itsnotgov">Liberdon (Mastodon)</a>
    <a href="{{ source_link }}">Source</a>
    <a href="/terms-of-service">Terms of Service</a>
    <a href="/privacy-policy">Privacy Policy</a>
</p>
</section>
</footer>



</body>
</html>
