{% extends "page.html" %}
{% block content %}
<article class='story'>
<h4>
    <a href="/">Home</a> ⇒
    <a href="/{{ subcategory.category.link_path }}">{{ subcategory.category.title }}</a> ⇒
    <a href="/{{ subcategory.link_path }}">{{ subcategory.title }}</a> ⇒
</h4>

{% if stub %}
<div class="story-stub">This article is a stub. <div class="story-stub-details">{{ stub }}</div> You can help out by finding and filling out useful details.  See our <a href="/help/story-writing-guidelines">writing guidelines</a>.</div>
{% endif %}

<h1><a href="/{{ link_path }}">{{ title }}</a></h1>

{{ content }}
</article>
{% endblock content %}
